<%= form_with(model: func, local: true) do |form| %>
  <% if func.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(func.errors.count, "error") %> prohibited this func from being saved:</h2>

      <ul>
      <% func.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
